body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

.login-options, .admin-menu {
    text-align: center;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #46a4c9;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.signup-options {
    text-align: center;
    margin-top: 20px;
}

.signup-options a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signup-options a:hover {
    background-color: #45a049;
}
